.grid-container {
    border: 2px solid red;
    max-width: 1000px;
    margin: 20px auto;
    
}

.session-paper {
    width: fit-content;
    background-color: #FDFAF5;
    padding: 16px;
    border-radius: 16px;
}

.control-panel {
    position: fixed;
    bottom: 0;
    right: 50%;
    width: 100%; /* Ensures it spans the full width */
}
