#cursor {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 8px;
  height: 18px;
  background-color: white;
  background-color: white;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}